.home_container {
  height: 100%;
  // background: linear-gradient(to right, $dark, $gray-700);
  background: url('../../assets/bg-compania@2x.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  img {
    border: 6px solid $gray-600;
    border-radius: 50%;
  }
}

.client_home {
  height: 100%;
  background: url('../../assets/darken-client@2x.png') no-repeat;
  background-size: cover;
  .client_home_container {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }
  h1,
  h2 {
    font-weight: bold;
    color: $white;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .d-flex {
    width: 70%;
    justify-content: center;
    align-items: center;
  }
}
