.main_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas: "primarySidebar secondarySidebar navbar" "primarySidebar secondarySidebar content";
  .main_navbar {
    background-color: $white;
    padding: 1.5rem 3rem;
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toolbar {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search {
        flex: 1;
      }
      .actions {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  .primary_sidebar {
    grid-area: primarySidebar;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 65px;
    color: $light;
    background-color: darken($color: $primary, $amount: 10%);
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90px;
      cursor: pointer;
    }
    .menu {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      flex: 1;
    }
    .menu_item {
      cursor: pointer;
      width: 100%;
      padding: 1rem 1rem;
      &:hover {
        background: darken($color: $primary, $amount: 20%);
      }
      .menu_link {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light;
        text-decoration: none;
        padding: 0.5rem;
        &.active {
          background-color: $light-red;
          border-radius: 50%;
        }
      }
    }
  }

  .secondary_sidebar {
    grid-area: secondarySidebar;
    background-color: $gray-200;
    padding: 3rem 1rem;
    width: 240px;
    max-width: 240px;
    position: relative;

    .sidebar_toggle {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: -1rem;
    }
    .link {
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0.5rem;
      border-radius: 3px;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      color: $dark;
      text-decoration: none;
      &:hover {
        background-color: $gray-400;
      }
      &.active {
        background-color: $gray-400;
      }
    }
  }

  .main_content {
    grid-area: content;
  }
}
